@import 'app/components/style';
@import 'app/components/nav';

$main-font: 'Helvetica Neue', 'Roboto', sans-serif;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  overflow: hidden;
  color: white;
}

section {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

.chart {
  width: 100%;
}

@media screen and (orientation:landscape) and (min-width: 600px) {
  .chart {
    height: 75vh;
    width: 100%;
  }
}

main {
  overflow: hidden;
}

.about {
  height: 100vh;
  background-color: #333131;
}

.description {
  font-size: 1em;
  a {
    color: lightskyblue;
    text-decoration: none;
  }
  margin: 0;
  div {
    padding: .25em;
  }
  .heart {
    color: red;
  }
}

.left {
  margin-left: 3em;
}

.menu-background {
  height: 2.8em;
  color: white;
  font-weight: 300;
  line-height: 2.8em;
  font-size: 1.4em;
  text-align: center;
  // padding-right: 1em;
  .value {
    display: inline-block;
    width: 3em;
  }
}

.dark, .transparent {
  background-color: #333133;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

footer {
  font-size: small;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  color: white;
  background-color: #333131;
  position: fixed;
  bottom: 0;
}

.footer-info {
  padding: 1em;
}

.c3-axis, g.tick, .c3-grid  {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  fill: white;
  stroke: white;
  font-size: 1rem;
}

g.tick {
  font-size: 1.1rem;
}

.c3-ygrid-line line {
    stroke: white;
}

.c3-xgrid-focus > line {
  visibility: visible !important;
}
/*
@media only screen and (max-width: 600px) {
  .c3-axis, g.tick, .c3-grid  {
    font-size: 3vw;
  }
}
*/

.c3-tooltip-container {
  display: block !important;
  position: absolute !important;
  font-weight: 300;
  color: #aaa;
  // margin: 1em;
  font-size: 3vw;
  top: -217px !important;
  left: 62px !important;

  color: white;
  font-weight: 300;
  line-height: 2.8em;
  font-size: 1.4em;
  text-align: center;

  // right: 2rem !important;
  .c3-tooltip {
    .c3-tooltip-name--time {
      .value {
        color: white;
        font-size: 1.4rem;
      }
      .value:after {
        content: "mm/h";
      }
    }
    box-shadow: none;
    background-color: transparent;
    tr {
      td.name {
        display: none;
      }
      display: inline;
      border: none;
      th {
        height: 1em;
        padding: 0;
        color: white;
        font-weight: 300;
        // line-height: 2.8em;
        font-size: 1.4rem;

        background-color: transparent;
      }
    }
    td {
      border: none;
      background-color: transparent;
    }
  }
}

.c3 {
  path,
  line {
    fill: none;
    stroke: white;
  }
}
.c3-axis-x .domain {
  // display: none;
}

.c3-axis-x .tick line {
  display: none;
}

.c3-xgrid-line.now line {
    stroke: red;
}

.c3-xgrid-line.now text {
    fill: red;
}

.c3-ygrid-line line {
    //stroke: white;
}
/*
.c3-ygrid-line.grid800 line {
    stroke: green;
}
.c3-ygrid-line.grid800 text {
    fill: green;
}
*/
