@import 'app/components/style';
@import 'app/components/nav';
@import 'app/components/modal';


$main-font: 'Helvetica Neue', 'Roboto', sans-serif;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  overflow: hidden;
  color: white;
}

section {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

#chart {
  //max-width: 30vw;
  //min-height: 70vh;
}

main {
  overflow: hidden;
}

.about {
  height: 100vh;
  background-color: ivory;
}

.description {
  margin: 0;
  padding: 1em;
}

.left {
  margin-left: 3em;
}

.menu-background {
  height: 2.8em;
  color: white;
  font-weight: 300;
  line-height: 2.8em;
  font-size: 1.4em;
  text-align: center;
}

.dark {
  background-color: rgb(51, 51, 51);
}

footer {
  font-size: small;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  color: white;
  background-color: #333131;
  position: fixed;
  bottom: 0;
}

.footer-info {
  padding: 1em;
}

.c3-axis, g.tick, .c3-grid  {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    fill: #aaa;
    font-size: 1rem;
}

.c3-tooltip-container {
  display: none !important;
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
}

.c3 {
  path,
  line {
    fill: none;
    stroke: #aaa;
  }
}
.c3-axis-x .domain {
  // display: none;
}

.c3-axis-x .tick line {
  display: none;
}

.c3-xgrid-line line {
    stroke: #aaa;
}
.c3-xgrid-line.now line {
    stroke: red;
}
.c3-xgrid-line.now text {
    fill: red;
}
.c3-ygrid-line line {
    stroke: #aaa;
}
/*
.c3-ygrid-line.grid800 line {
    stroke: green;
}
.c3-ygrid-line.grid800 text {
    fill: green;
}
*/
